@use '../../../styles/mixins/common' as *;

.container {
  width: 100%;
  background: #209EFF;
  padding: 37rem 0 29rem;

  @media screen and (max-width: 767px) {
    padding: 27rem 0 23rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 150rem;
  gap: 9rem;

  @media screen and (max-width: 767px) {
    padding: 0 24rem;
  }
}

.title {
  color: #FFF;
  font-size: 40rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8rem;

  @media screen and (max-width: 767px) {
    font-size: 30rem;
    letter-spacing: -0.6rem;
  }
}

.scroll {
  display: flex;
  position: relative;
  overflow: hidden;
  user-select: none;
  width: 1140rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);

  @media screen and (max-width: 767px) {
    width: 328rem;
  }

  &:hover {
    .marquee {
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
    }
  }
}

.list {
  .icon {
    width: 196rem;
    aspect-ratio: 196 / 84;
    object-fit: cover;

    @media screen and (max-width: 767px) {
      width: 158rem;
      aspect-ratio: 158 / 67.714;
    }
  }
}

.marquee {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  gap: 15rem;

  animation-play-state: running;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;

  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  -moz-animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 15rem));
    -webkit-transform: translateX(calc(-100% - 15rem));
    -moz-transform: translateX(calc(-100% - 15rem));
  }
}