:root {
  --font-primary: 'Rajdhani', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  // Keep this for proper scaling using relative units (rem);
  // ---------------------------------------------------------------------
  font-size: 1.2px;

  @media screen and (min-width: 768px) and (max-width: 1680px) {
    font-size: calc(1/1440) * 100vw;
  }

  @media screen and (max-width: 767px) {
    font-size: calc(1/375) * 100vw;
  }
}

body {
  background: #FFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}