
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 71px;
  height: 100%;
}

.features {
  position: relative;
  background: linear-gradient(to left, rgba(14, 21, 36, 0.00) -0.47%, rgba(44, 91, 255, 0.30) 108.34%);
  width: 100%;
  height: 517rem;
  max-height: 517rem;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  gap: 100vh;

  @media (max-width: 767px) {
    height: 580rem;
    max-height: 580rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &_item {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  .scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 78rem;
    height: 78rem;
    aspect-ratio: 1/1;
  }
}