$font-primary: Rajdhani, sans-serif;
$font-secondary: 'Circular Std', sans-serif;
$font-landing: 'Poppins', sans-serif;

// transition
$transition-all: all 0.15s ease-in;
$transition-color: color 0.15s ease-in;
$transition-opacity: opacity 0.15s ease-in;
