@use '../../../styles/mixins/common' as *;

.container {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 98rem 0 212rem;
  height: 100%;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 32rem;
    padding: 35rem 0 31rem;
  }
}

.title {
  width: 546rem;
  color: #0E1426;
  font-size: 40rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 767px) {
    font-size: 27rem;
    text-align: center;
    width: 100%;
    padding: 0 25rem;
  }

  &_highlight {
    color: #209EFF;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 21rem;
  max-width: 642rem;

  .list {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media (max-width: 767px) {
      padding: 0 40rem 0 45rem; 
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 13rem;

      @media (max-width: 767px) {
        gap: 9rem;
      }

      &_text {
        color: #4F5360;
        font-size: 18rem;
        font-style: normal;
        font-weight: 600;
        line-height: 35rem;
        letter-spacing: -0.36rem;

        @media (max-width: 767px) {
          font-size: 14rem;
          line-height: 24rem;
          letter-spacing: -0.28rem;
        }
      }
    }
  }
}

.left {
  position: absolute;
  left: 212rem;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 767px) {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
  }

  img {
    width: 428.523rem;
    object-fit: cover;
    aspect-ratio: 428.523 / 469;
    @include animateFloatSquare(float, 15rem, 15s, ease-in-out);

    @media (max-width: 767px) {
      width: 308.829rem;
      aspect-ratio: 308.829 / 338;
    }
  }
}