
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 50rem;
  right: 50rem;
  z-index: 50;
  width: 54rem;
  height: 54rem;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 767px) {
    width: 38px;
    height: 38px;
    bottom: 15px;
    right: 15px;
  }
}