$clippath: ellipse(0 0, 100% 0, 100% 100%, 0 100%);

@mixin bubble($top, $left, $color, $radiusRatio: 50, $opacity: 1, $blur: 100) {
  position: absolute;
  display: block;
  z-index: -1;
  top:  $top * 1rem;
  left: $left * 1rem;
  width: 1rem;
  height: 1rem;
  opacity: $opacity;
  border-radius: 50%;
  background: $color;
  box-shadow: 0rem 0rem $blur * 1rem $radiusRatio * 1rem $color;
}

@mixin animateFloatSquare($name: float, $distance: 15rem, $duration: 15s, $easing: ease-in-out) {
  animation: $name $duration $easing infinite alternate;

  @keyframes #{$name} {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(0, -$distance);
    }
    40% {
      transform: translate(-$distance, 0);
    }
    60% {
      transform: translate(0, $distance);
    }
    80% {
      transform: translate($distance, 0);
    }
    100% {
      transform: translate(0, -$distance);
    }
  }
}

@mixin floatSquare($duration: 8s, $delay: 0s) {
  position: relative;
  animation: floatSquare 8s ease-in-out infinite;
}

@mixin skeleton($radius: 4rem) {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 200rem;
    background: linear-gradient(45deg, transparent 0%, #f5f5f5 50%, transparent 70%);
    animation: shimmer 1s;
  }
}

@keyframes shimmer {
  0% {
    left: -150rem;
  }
  100% {
    left: 100%;
  }
}